body {
  width:100%;
  height:100vh;
  margin:0;
  background-color:#CCCCFF;
  color:#000000;
  font-family:Helvetica;
  font-size:20px;
  
}
#description{
  font-size:14px;
  
}
h1,p{
  margin:1em auto;
  text-align:center;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
fieldset:last-of-type {
  border-bottom: none;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
dropdown {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  font-family:Helvetica;
}
input, textarea {
  background-color: white;
  border: 1px solid #bd77de;
  color: Black;
}
.dropdown{
  display:block;
  width: 100%;
  height: 2rem;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #bd77de;
  border-radius:0.25rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;

}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
.feedback-checkbox{
  width: unset;
  margin: 0 0.5em 0 0;
  float: left; 
}

input[type="submit"] {
  display:block;
  width:100%;
  cursor:pointer;
  font-size: 20px;
}
#submit:hover {
  background-color:#FF00FF;
}
